.chart {
  display: flex;
  flex-wrap: wrap;
  margin: 0.6rem 2rem 2rem 0;
  flex-basis: 523px;
  flex-shrink: 0;
  flex-grow: 0;
  margin: auto;
}

.chart-cell {
  margin: 2px;
  width: 36px;
  height: 36px;
  background-color: rgb(245, 245, 238);
  border: 1px solid rgb(223, 221, 221);
  font-weight: 600;
  padding-top: 3px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.pressed {
  border: 1px inset rgb(141, 141, 141);
}

.active {
  background-color: cadetblue;
}

.chart-cell:hover {
  background-color: rgb(149, 171, 192);
  cursor: pointer;
}

.limp {
  background-color: rgb(255, 238, 0);
}
.allin {
  background-color: rgb(214, 78, 78);
}

.raise {
  background-color: rgb(219, 140, 12);
}

.check {
  background-color: rgb(133, 146, 137);
}

.fold {
  background-color: skyblue;
}

.iso {
  background-color: lightseagreen;
}

.isos {
  background-color: seagreen;
}
